.cover__subtitle {
    width: 32%;
    font-size: 18px;
    line-height: 26px;
    margin-top: 119px;
    text-align: center;
    font-weight: normal;
    align-self: center;    
}

@media screen and (max-width: 1024px){
    .cover__subtitle {
        margin-top: 76px;
        width: 40%;

    }
}

@media screen and (max-width: 768px){
    .cover__subtitle {
    margin-top: 52px;
    width: 47%;
    }
}

@media screen and (max-width: 375px){
    .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    width: 72%;

    }
}