
.footer__copyright {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    font-weight: normal;



}


@media screen and (max-width: 768px){
    .footer__copyright {
        font-size: 14px;
        margin-top: 10px;

    }

}

@media screen and (max-width: 375px){
    .footer__copyright {
margin-top: 3px;
        text-align: start;
    }

}


