.lead__image {
    margin-top: 71px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .lead__image {
       margin-top: 68px;

    }
}

@media screen and (max-width: 375px){
    .lead__image {
       margin-top: 33px;
    }
}

