.cover__title {
    margin: 279px auto 0px;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    font-weight: 900;
}


@media screen and (max-width: 1024px){
    .cover__title {
        margin-top: 215px;
        width: 55%;
    }
}

@media screen and (max-width: 768px){
    .cover__title {
        margin: 170px auto 0px;
        width: 67%;
    }
}

@media screen and (max-width: 375px){
    .cover__title {
        margin-top: 108px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px){
    .cover__title {
    width: 70%;
    }
}