.intro__title {
    width: 70%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 54px;
    line-height: 59px;
    font-weight: 900;
    }

    @media screen and (max-width: 1024px){
        .intro__title {
            width: 75%;
        }
    
    }
    @media screen and (max-width: 768px){
        .intro__title {
            width: 100%;
        }
    
    } 
    @media screen and (max-width: 375px){
        .intro__title {
            font-size: 32px;
            line-height: 34px;
            width: 80%;
        }
    
    }