.place__paragraph {
    margin-top: -3px;
    line-height: 30px;
    font-size: 17.5px;
    font-weight: normal;
}

.place__paragraph:nth-of-type(2) {
   margin-top: 23px;
}

@media screen and (max-width: 1280px){
    .place__paragraph {
        margin-top: -8px;
        }

}

@media screen and (max-width: 1024px){
    .place__paragraph {
        margin-top: 1px;
        }
    .place__paragraph:nth-of-type(2) {
        margin-top: 27px;
        }
}

@media screen and (max-width: 768px){
    .place__paragraph {
        font-size: 15px;
        line-height: 27px;
        margin-top: 3px
        }
    .place__paragraph:nth-of-type(2) {
        margin-top: 26px;
        }
}